[submodule "2016-2017/PSI/PSI_Chromosomes"]
	path = 2016-2017/PSI/PSI_Chromosomes
	url = git@github.com:DeptInfoProjects/PSI_Chromosomes.git
[submodule "Wiki"]
	path = Wiki
	url = https://github.com/DeptInfoProjects/L2_Info.wiki.git
